/* Navbar.css */

.navbar {
    background-color:  #ff6600; /* Navbar background color */
    color: #fff; /* Navbar text color */
    padding: 1px ; /* Adjust padding for the Navbar content */
    display: flex;
    justify-content: center; /* Center-align the navigation list */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0; /* Remove default list padding */
  }
  
  .nav-list li {
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transitions on hover */
    margin: 0; /* Remove margin on list items */
    padding: 10px 20px; /* Add padding to create box effect */
    border-radius: 5px; /* Add border radius for the box effect */
  }
  
  .nav-list li:hover {
    transform: scale(1.05); /* Scale up the menu item on hover */
    background-color: lightcoral; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
  
  /* Style for the active menu item (if needed) */
  .nav-list .active {
    font-weight: bold;
  }
  
  /* Navbar.css */

body {
    margin: 0; /* Remove margin from the body */
    padding: 0; /* Remove padding from the body */
  }

/* Navbar.css */

.nav-list li#myblog {
    margin-right: auto;
    pointer-events: none; /* Disable pointer events for the element */
    cursor: default; /* Change the cursor to default, indicating it's not clickable */
    transition: none; /* Remove the transition on hover effect */
  }
  

   
  

  





  